spring:
  cache:
    type: none
  datasource:
    #    url: jdbc:postgresql://mikoevents-postgres-1:5433/mikoevents
    url: jdbc:postgresql://localhost:5432/mikoevents
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true
    change-log: classpath:/db/master.xml
#  profiles:
#    active: swagger
#  config:
#    activate:
#      on-profile: "swagger"

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    url: /v3/api-docs
    operationsSorter: method
    tagsSorter: alpha
    displayRequestDuration: true
    tryItOutEnabled: true

server:
  servlet:
    context-path: /api
#  port: 9045


application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days
